body{
    background-color: rgb(240, 185, 33);
}
img{
    width: 500px;
    height: 300px;
}
h1{
    color: rgb(249, 107, 6);
    font-size: 100px;
}
p{
    color: rgb(50, 45, 40);
    font-size: 60px;
}